h1 {
  align-content: center;
  text-align: center;
}

.App {
  color: blue;
}

.search-bar {
  align-content: center;
}

.search-form {
  align-content: center;
}

.search-button {
  align-content: center;
  flex-wrap: wrap;
  color: blue;
  
}

form {
}